@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    display: none;
}

/* .my-icon {
    display: inline-block;
    background-color: #8cab8342;
    color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.my-icon:hover {
    transform: scale(1.2);
    animation: pulse 2s ease-in-out infinite;
} */

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}